{
  "presets": [],
  "plugins": [],
  "env": {
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {},
            "transform-runtime": {},
            "styled-jsx": {},
            "class-properties": {},
            "preset-react": {},
            "preset-typescript": {}
          }
        ]
      ],
      "plugins": []
    }
  }
}
